{% if page.has_other_pages %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url "index" %}?page={{ page.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            
            {% for p in page_range %}
                {% if p == page.number %}
                    <li class="page-item">
                        <a class="page-link active" href="{% url "index" %}?page={{ p }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url "index" %}?page={{ p }}">{{ p }}</a>
                    </li> 
                {% endif %}
            {% endfor %}
            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url "index" %}?page={{ page.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}