{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    {% if is_authorized == True %}
        {% include "layouts/navbar_authorized.html" %}
    {% else %}
        {% include "layouts/navbar_unauthorized.html" %}
    {% endif %}

    <main class="container-fluid container-lg">
      <div class="row">
        {% block content %}
        {% endblock %}

        <div class="col-4">
          <h3>Popular Tags</h3>
          <div class="row mt-1">
            <div class="col">
              <span class="badge text-bg-primary">perl</span>
              <span class="badge text-bg-secondary">python</span>
              <span class="badge text-bg-success">TechnoPark</span>
              <span class="badge text-bg-danger">MySQL</span>
              <span class="badge text-bg-warning">django</span>
              <span class="badge text-bg-info">Mail.Ru</span>
              <span class="badge text-bg-light">Voloshin</span>
              <span class="badge text-bg-dark">Firefox</span>
            </div>
          </div>
          <h3 class="mt-5">Best Members</h3>
          <div>
            <a href="/member.html" class="d-block">Mr. Freeman</a>
            <a href="/member.html" class="d-block">Dr. House</a>
            <a href="/member.html" class="d-block">Bender</a>
            <a href="/member.html" class="d-block">Queen Victoria</a>
            <a href="/member.html" class="d-block">V. Pupkin</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>