<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-sm-fluid container-lg">
        <a class="navbar-brand">AskFedor</a>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success me-2" type="submit">Search</button>
          <button class="btn btn-success" type="submit">Ask!</button>
        </form>
        <div class="d-flex justify-content-between gap-3">
          <div class="border">
            <img src="../static/img/img.png" width="50" height="50" />
          </div>
          <div class="d-flex flex-column justify-content-between">
            <div>qosmio</div>
            <div>
              <a href="/settings.html">Settings</a>
              <a href="/logout.html">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="container-fluid container-lg">
      <div class="d-flex gap-3 align-items-center mb-2">
        <h1>New Questions</h1>
        <a href="/hot.html">Hot Questions</a>
      </div>

      <div class="row">
        <div class="col-8">
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-2 p-3" style="width: 115px">
                <div class="border rounded mb-3" style="height: 80px; width: 80px">
                  <img
                    src="../static/img/img.png"
                    class="img-fluid rounded avatar-width h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap input-group-width">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body ps-0">
                  <h5 class="card-title">
                    <a href="/question.html">Question?</a>
                  </h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div class="row">
                    <a class="col-4" href="/question.html">answers (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-2 p-3" style="width: 115px">
                <div class="border rounded mb-3" style="height: 80px; width: 80px">
                  <img
                    src="../static/img/img.png"
                    class="img-fluid rounded avatar-width h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap input-group-width">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body ps-0">
                  <h5 class="card-title">
                    <a href="/question.html">Question?</a>
                  </h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div class="row">
                    <a class="col-4" href="/question.html">answers (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="card mb-3 w-100">
            <div class="row g-0">
              <div class="col-2 p-3" style="width: 115px">
                <div class="border rounded mb-3" style="height: 80px; width: 80px">
                  <img
                    src="../static/img/img.png"
                    class="img-fluid rounded avatar-width h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap input-group-width">
                  <input type="number" value="5" class="form-control" />
                </div>
              </div>
              <div class="col">
                <div class="card-body ps-0">
                  <h5 class="card-title">
                    <a href="/question.html">Question?</a>
                  </h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div class="row">
                    <a class="col-4" href="/question.html">answers (3)</a>
                    <div class="col-8">
                      <span>Tags</span>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                      <a href="/tag.html">tag</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-4">
          <h3>Popular Tags</h3>
          <div class="row mt-1">
            <div class="col">
              <span class="badge text-bg-primary">perl</span>
              <span class="badge text-bg-secondary">python</span>
              <span class="badge text-bg-success">TechnoPark</span>
              <span class="badge text-bg-danger">MySQL</span>
              <span class="badge text-bg-warning">django</span>
              <span class="badge text-bg-info">Mail.Ru</span>
              <span class="badge text-bg-light">Voloshin</span>
              <span class="badge text-bg-dark">Firefox</span>
            </div>
          </div>
          <h3 class="mt-5">Best Members</h3>
          <div>
            <a href="/member.html" class="d-block">Mr. Freeman</a>
            <a href="/member.html" class="d-block">Dr. House</a>
            <a href="/member.html" class="d-block">Bender</a>
            <a href="/member.html" class="d-block">Queen Victoria</a>
            <a href="/member.html" class="d-block">V. Pupkin</a>
          </div>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom p-3 bg-light">
      <div class="container">
        <span class="text-muted">Contact us via mail: askme@gmail.com</span>
      </div>
    </footer>
  </body>
</html>