<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/index.css">
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-sm-fluid container-lg">
        <a class="navbar-brand">AskFedor</a>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="d-flex flex-column justify-content-between">
          <div>
            <a href="/login.html">Log in</a>
            <a href="/signup.html">Register</a>
          </div>
        </div>
      </div>
    </nav>
      <main class="container-fluid container-lg">
        <div class="mb-3"><h1>Log in</h1></div>
        <div class="row">
          <div class="col-8">
            <p class="text-danger">Sorry, wrong password!</p>
            <div class="row g-3 align-items-center mb-3">
              <div class="col-auto">
                <label for="inputLogin" class="col-form-label">Login</label>
              </div>
              <div class="col-auto" style="margin-left: 40px">
                <input type="email" id="inputLogin" class="form-control" aria-describedby="passwordHelpInline">
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputPassword" class="col-form-label">Password</label>
              </div>
              <div class="col-auto" style="margin-left: 13px">
                <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpInline">
              </div>
            </div>
            <button type="button" class="btn btn-success" style="margin-left: 95px; margin-top: 20px">Log in!</button>
            <p style="margin-left: 95px; margin-top: 10px"><a href="signup.html">create new account</a></p>
          </div>
        <div class="col-4">
          <h3>Popular Tags</h3>
          <div class="row mt-1">
            <div class="col">
              <span class="badge text-bg-primary">perl</span>
              <span class="badge text-bg-secondary">python</span>
              <span class="badge text-bg-success">TechnoPark</span>
              <span class="badge text-bg-danger">MySQL</span>
              <span class="badge text-bg-warning">django</span>
              <span class="badge text-bg-info">Mail.Ru</span>
              <span class="badge text-bg-light">Voloshin</span>
              <span class="badge text-bg-dark">Firefox</span>
            </div>
          </div>
          <h3 class="mt-5">Best Members</h3>
          <div>
            <a href="/member.html" class="d-block">Mr. Freeman</a>
            <a href="/member.html" class="d-block">Dr. House</a>
            <a href="/member.html" class="d-block">Bender</a>
            <a href="/member.html" class="d-block">Queen Victoria</a>
            <a href="/member.html" class="d-block">V. Pupkin</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>