{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="col-8">
          <div class="mb-2">
            <div class="row g-0 mt-3 mb-3">
              <div class="col-3 pt-3" style="width: 110px">
                <div class="border rounded mb-3" style="height: 100px; width: 100px">
                  <img
                    src="{{ question.user.profile.avatar.url }}"
                    class="img-fluid rounded h-100"
                    alt="..."
                  />
                </div>
                <div class="input-group flex-nowrap" style="width: 60px">
                  <input type="number" value="5" class="form-control"/>
                </div>
              </div>
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title m-3">{{ question.title }}</h5>
                  <p class="card-text m-3">{{ question.text }}</p>
                  <div class="ms-3">
                    <span>Tags</span>
                      {% for tag in question.tags.all %}
                          <a href="{% url 'tag' tag %}">{{ tag }}</a>
                      {% endfor %}
{#                      <a href="/tag.html">black-jack</a>#}
{#                      <a href="/tag.html">bender</a>#}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="hr" />
            {% for answer in question.answers.all %}
                {% include 'layouts/answer.html' %}
            {% endfor %}
{#          <article class="card mb-3 w-90">#}
{#            <div class="row g-0">#}
{#              <div class="col-2 p-3">#}
{#                <div class="border rounded mb-3" style="height: 80px; width: 80px">#}
{#                  <img#}
{#                    src="../static/img/img.png"#}
{#                    class="img-fluid rounded avatar-width h-100"#}
{#                    alt="..."#}
{#                  />#}
{#                </div>#}
{#                <div class="input-group flex-nowrap input-group-width">#}
{#                  <input type="number" value="5" class="form-control" />#}
{#                </div>#}
{#              </div>#}
{#              <div class="col">#}
{#                <div class="card-body ps-0">#}
{#                  <p class="card-text">#}
{#                    This is a wider card with supporting text below as a natural#}
{#                    lead-in to additional content. This content is a little bit#}
{#                    longer.#}
{#                  </p>#}
{#                  <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">#}
{#                    <label class="form-check-label ms-1" for="flexCheckDefault1">#}
{#                      Correct!#}
{#                    </label>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#          <article class="card mb-3 w-90">#}
{#            <div class="row g-0">#}
{#              <div class="col-2 p-3">#}
{#                <div class="border rounded mb-3" style="height: 80px; width: 80px">#}
{#                  <img#}
{#                    src="../static/img/img.png"#}
{#                    class="img-fluid rounded avatar-width h-100"#}
{#                    alt="..."#}
{#                  />#}
{#                </div>#}
{#                <div class="input-group flex-nowrap input-group-width">#}
{#                  <input type="number" value="5" class="form-control" />#}
{#                </div>#}
{#              </div>#}
{#              <div class="col">#}
{#                <div class="card-body ps-0">#}
{#                  <p class="card-text">#}
{#                    This is a wider card with supporting text below as a natural#}
{#                    lead-in to additional content. This content is a little bit#}
{#                    longer.#}
{#                  </p>#}
{#                  <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">#}
{#                    <label class="form-check-label ms-1" for="flexCheckDefault2">#}
{#                      Correct!#}
{#                    </label>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
{#          <article class="card mb-3 w-90">#}
{#            <div class="row g-0">#}
{#              <div class="col-2 p-3">#}
{#                <div class="border rounded mb-3" style="height: 80px; width: 80px">#}
{#                  <img#}
{#                    src="../static/img/img.png"#}
{#                    class="img-fluid rounded avatar-width"#}
{#                    alt="..."#}
{#                  />#}
{#                </div>#}
{#                <div class="input-group flex-nowrap input-group-width">#}
{#                  <input type="number" value="5" class="form-control" />#}
{#                </div>#}
{#              </div>#}
{#              <div class="col">#}
{#                <div class="card-body ps-0">#}
{#                  <p class="card-text">#}
{#                    This is a wider card with supporting text below as a natural#}
{#                    lead-in to additional content. This content is a little bit#}
{#                    longer.#}
{#                  </p>#}
{#                  <div class="form-check">#}
{#                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">#}
{#                    <label class="form-check-label ms-1" for="flexCheckDefault3">#}
{#                      Correct!#}
{#                    </label>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#          </article>#}
          <hr class="hr">
          <div class="form-group mb-2 w-90">
            <textarea class="form-control" id="InputText" rows="3" placeholder="Enter your answer here..."></textarea>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Answer</button>
        </div>
{% endblock %}